body{
    background-color: aliceblue;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.stock{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

a{
    text-decoration: none;
    color: black;
}

.goods{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    border-radius: 1%;

    background-color: white;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}

.heart{
    align-self: flex-end;
    margin-top: 15px;
    margin-right: 15px;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}

.item{
    width: 33vw;
    height: 48vh;
}

.name{
    margin-top: 5vh;
    font-size: 32px;
}

.description{
    margin-top: 1vh;
}

.buy{
    display: flex;
    justify-content: center;
    width: 15vw;
    margin-top: 2vh;
    padding: 11px;

    background-color: white;
}

.b-info{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.price{
    color: blue;
    font-size: 20px;
}

.text{
    text-transform: uppercase;
    font-weight: 700;
}

.mobile-nav{
    display: none;
}


@media screen and (max-width: 600px){


.item{
    width: 40vw;
}

.name{
    font-size: 17px;
}

.buy{
    width: 18vw;
}

.mobile-nav{
    display: flex;
    justify-content: space-evenly;

    background-color: white;
}

.m-icon{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.s-icon{
    color: blue;
}
}